@{
    ViewData["Title"] = "Page d'accueil";
}

<div class="text-center">
    <h1 class="display-4">Exo 01 - Games</h1>
    <h2>Actuellement, il y a @ViewData["CountGame"] jeux encodés !</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis sodales libero, in volutpat augue cursus nec. Integer vitae leo odio. Nunc vehicula erat sem, nec pretium ante eleifend at. Nam molestie vitae odio commodo sagittis.</p>

    <img src="~/images/game.png" alt="Illustration du jeu videal">

    <p>Pellentesque gravida turpis tellus, a elementum tortor malesuada eu. Curabitur est purus, commodo ut fermentum a, gravida ac sapien. Fusce molestie ut diam at ullamcorper. Mauris vitae velit mollis, consequat purus eget, venenatis nisl. Phasellus euismod libero dui, at laoreet felis tincidunt eu. Donec efficitur, tellus venenatis efficitur venenatis, leo augue consectetur risus, nec blandit justo lorem vitae neque. Suspendisse potenti. Nunc condimentum, quam non congue volutpat, lectus urna ornare erat, a lobortis massa diam nec dolor. Quisque justo nibh, euismod vulputate purus sit amet, convallis pharetra ipsum. Vivamus non lectus ipsum. </p>
</div>
